:root {
    --background: #FBFBFE;
    --gray: #EFEFEF;
    --text: #040316;
    --primary: #4AD39A;
    --secondary: rgba(177, 246, 217, 0.33);
    --accent: #2CC6CE;

    color: var(--text);
    font-family: "Bricolage Grotesque", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.hero {
    align-items: center;
    background: url(assets/texture.svg) center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100svh;
    justify-content: center;
    padding: 0 calc((100vw - 1200px) / 2);
}

.hero__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
}

.hero__title h1 {
    font-size: 12rem;
    line-height: 12rem;
}

.hero__title h4 {
    font-size: 2rem;
    line-height: 2rem;
}

.hero__links {
    display: flex;
    gap: 1rem;
}

.hero__links a {
    align-items: center;
    background-color: var(--primary);
    border-radius: 1rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    transition: box-shadow 0.25s ease;
    width: 3rem;
}

.hero__links a:hover {
    box-shadow: var(--primary) 0 0 24px 0;
}

.hero__links a img {
    height: 60%;
    width: 60%;
}

.about {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4em calc((100vw - 1200px) / 2);
}

.about h2 {
    font-size: 3rem;
    padding-bottom: 4rem;
}

.about__content {
    background-color: var(--secondary);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 4em;
}

.work {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4em calc((100vw - 1200px) / 2) 8em;
}

.work h2 {
    font-size: 3rem;
    padding-bottom: 4rem;
}

.work__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    position: relative;
    width: 100%;
}

.work__warning {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: center;
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--gray);
}

.work__content > div {
    aspect-ratio: 1;
    background-color: var(--secondary);
    border-radius: 1em;
}

footer {
    background: url(assets/texture.svg) top right;
    display: flex;
    justify-content: space-between;
    padding: 4em calc((100vw - 1200px) / 2);
}

footer a {
    color: var(--text);
}

@media screen and (max-width: 1200px) {
    .about, .work, footer {
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .hero__title h1 {
        font-size: 10rem;
        line-height: 10rem;
    }

    .about {
        padding: 2rem 1rem 0;
    }

    .about__content {
        padding: 2em;
    }

    .about h2 {
        padding-bottom: 2rem;
    }

    .work {
        padding: 2rem 1rem 4rem;
    }

    .work h2 {
        padding-bottom: 2rem;
    }

    .work__content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .work__content > div:nth-child(2n) {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .hero__title h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    .hero__title h4 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .about__content {
        padding: 1.5em;
    }

    footer {
        flex-direction: column;
        gap: 2rem;
    }
}
